:root {
  --black-coffee-color:#654321;
  --coffee-color:#B09071;
  --milk-coffee-color:#EAE6CA;
  --max-work-width:940px;
  --game-image-height:150px;
}

body, ul, ol, li, h1, h2, h3, h4, h5, h6, form, p {
  margin:0;
  padding:0;
  font-family: verdana, trebuchet, sans-serif;
}

ul { 
  list-style:none; 
}

a, a:hover {
  text-decoration:none;
}

img {
  border:none;
}

body {
  background-image:url(../images/background_owls.png);
}

/* -------------------------------------------------------------------------------------- HEADINGS */
h1, h2, h3, h4, h5, h6 {
  color:var(--black-coffee-color);
}

h1 {
  font-size:60px;
}

h2 {
  font-size:48px; line-height:54px;
}

h3 {
  font-size:24px;
  margin:0 0 5px 0;
}

h4 {
  font-size:20px;
  margin:0 0 10px 0;
}

h5 {
  font-size:18px;
  color:var(--milk-coffee-color);
}

h6 {
  font-size:14px;
}

/* -------------------------------------------------------------------------------------- HEADER */
#header {
  background:url(../images/menu.png) no-repeat top left;
  margin:0 auto;
  width:980px;
  height:153px;
}

#header #logo {
  display:block;
  float:left;
  margin:0 0 0 15px;
  width:180px; height:135px;
}

#header #logo a {
  top:0;
  left:0;
  background:url(../images/logo.png) no-repeat top left;
  display:block;
  float:left;
  width:180px; height:135px;
}

#header #top_menu {
  display:block;
  float:left;
  margin:53px 15px 0 5px;
  width:calc(var(--max-work-width)-175px);
  height:55px;
}

#header #top_menu ul {
  font-size:20px;
  font-weight:bold;
}

#header #top_menu ul li {
  display:inline;
  position: relative; 
  float:left;
  padding:0 5px;
  border-left:2px solid var(--black-coffee-color);
}

#header #top_menu ul li a {
  display:block;
  color:var(--black-coffee-color);
}

/* ----------------------------------------------------------------------------------------- MAIN */
#main {
  background:var(--coffee-color);
  margin:0 auto 30px auto;
  width:var(--max-work-width);
  min-height:400px;
  padding:20px;
  border-radius:15px;
  color:var(--milk-coffee-color);
  font-size:16px;
  font-weight:bold;
}

#main p {
  margin:10px 0;
}

#main ul, #main ol{
  margin:10px 0 10px 30px;
}

#main #gametypes_desc ol li {
  border:1px solid var(--black-coffee-color);
  border-width:0 0 1px 0;
  padding:5px 0 5px 0;
}

#main #gametypes_desc ol p {
  padding:0 0 5px 0;
}

#main input[type=text] {
  background-color:var(--milk-coffee-color);
  border:2px solid var(--black-coffee-color);
  padding:6px;
  color:var(--black-coffee-color);
  font-size:16px;
}

#main input[type=password] {
  background-color:var(--milk-coffee-color);
  border:2px solid var(--black-coffee-color);
  padding:6px;
  color:var(--black-coffee-color);
  font-size:16px;
}

#main input[type=submit] {
  background-color:var(--milk-coffee-color);
  border:2px solid var(--black-coffee-color);
  border-radius:8px;
  padding:6px 16px 6px 14px;
  margin: 6px 10px 6px 0;
  color:var(--black-coffee-color);
  font-size:16px;
  font-weight:bold;
}

#main table {
  border-collapse: collapse;
  border:2px solid var(--black-coffee-color);
  border-radius:8px;
  background:var(--milk-coffee-color);
  overflow: hidden;
  margin:15px 0;
  color:var(--black-coffee-color);
  text-align:center;
  vertical-align:middle;
  max-width:calc(var(--max-work-width)-40px);
}

#main table thead tr {
  background:var(--black-coffee-color);
  color:var(--milk-coffee-color);
  height:40px;
}

#main table th { 
  border: 1px solid var(--milk-coffee-color);
  padding: 4px 8px;
}

#main table td { 
  border: 1px solid var(--black-coffee-color);
  padding: 4px 8px;
}

#main table a {
  color:var(--black-coffee-color);
  font-weight:bold;
}

#main #timer {
  color:var(--black-coffee-color);
  font-size:40px;
  font-weight:bold;
  margin:0 0 5px 0;
}

#main #game_kit {
  margin:10px 0 0 0;
  width:var(--max-work-width);  
  overflow: hidden;
}

#main #game_kit .game_image {
  display:inline-block;
  margin:20px 20px 0 0;
  width:285px;
}

#main #game_kit .game_image img {
  display:block;
  margin:0 auto;
  padding:0 0 10px 0;
  max-width:280px;
  height:var(--game-image-height);
}

#main #game_kit .game_text {
  display:inline-block;
  margin:20px 20px 0 0;
  width:420px;
}

#main #game_kit .game_text label {
  display:block;
  margin:0 auto;
  padding:0 0 10px 0;
  max-width:420px;
  font-size:20px;
  text-align:center;
}

#main #game_kit .game_text input[type=text] {
  width:400px;
}

#main #game_kit input[type=text] {
  display:block;
  margin:0 auto;
  background-color:var(--milk-coffee-color);
  padding:6px;
  color:var(--black-coffee-color);
  font-size:16px;
  width:250px;
}

#main #game_kit #footer {
  display:block;
  margin:20px 0 0 0;
  min-height:40px;
}

#main #game_kit #footer a {
  background-color:var(--milk-coffee-color);
  border:2px solid var(--black-coffee-color);
  border-radius:8px;
  padding:6px 16px 6px 14px;
  margin: 6px 10px 6px 0;
  color:var(--black-coffee-color);
  font-size:16px;
  font-weight:bold;
}